/node_modules
/.vscode/*
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log

# Yarn related stuff
yarn-error.log
.yarn
.yarnrc.yml

# Ziggy must be regenerated!
resources/js/ziggy.js

# Built stuff, better rebuild it again in ur servers
/public/js
/public/css
/public/fonts
