@font-face {
    font-family: "Nunito";
    src: url("../font/Nunito-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url("../font/Nunito-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url("../font/Nunito-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Nunito";
    src: url("../font/Nunito-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Nunito";
    src: url("../font/Nunito-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}
