#loginwrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 767px) {
    #login-img {
        background-image: url('/storage/uinsgd-logo.png')
    }
}

@media screen and (min-width: 768px) {
    #login-img {
        background-image: url('/storage/uin-bandung-logo.png')
    }
}